# Base URL from which to download kernel releases
KORG_URL=https://cdn.kernel.org/pub/linux/kernel/v4.x

# Directory in which to store temporary files
TMPDIR=/scratch

# Directory in which to store build logs from successful builds
LOG_DIR=/var/log/kernel-builder

# Directory in which to store downloaded tarballs
DISTFILE_DIR=/var/tmp/distfiles

# Directory in which to store built kernel .deb packages
DEB_DIR=/var/lib/kernel-builder/debs

# PGP keyserver from which to import public keys
GPG_KEYSERVER=hkp://pgp.mit.edu

# Space delimited list of GPG keys to import from keyserver
GPG_RECV_KEYS="647F28654894E3BD457199BE38DBBDC86092693E"
